.BG-Beginning{
    cursor:default;
    color: rgba(255, 255, 255, 0.315);
    position: absolute;
    font-size: 4vw;
    font-weight: 700;
    margin-top: 3vw;
    margin-left: 3%;
}
.BG-Proyects{
    cursor:default;
    color: rgba(255, 255, 255, 0.315);
    position: absolute;
    font-size: 4vw;
    font-weight: 700;
    margin-top: 44vw;
    margin-left: 72%;
}
.BG-About-me{
    cursor:default;
    color: rgba(255, 255, 255, 0.315);
    position: absolute;
    font-size: 4vw;
    font-weight: 700;
    margin-top: 90vw;
    margin-left: 3%;
}
.BG-Contact{
    cursor:default;
    color: rgba(255, 255, 255, 0.315);
    position: absolute;
    font-size: 4vw;
    font-weight: 700;
    margin-top: 210vw;
    margin-left: 76%;
}
@media only screen and (max-width: 600px) {
    .BG-About-me{
        margin-top: 125vw;
    }
    .BG-Contact{
        margin-top: 240vw;
    }
}