body {
  overflow-x: hidden;
  background-color: rgb(40, 40, 42);
  color: white;
}

/*# NavBar */
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 40;
  border-bottom: 1px solid rgb(97, 97, 97);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 6vh;
  background-color: rgb(6, 17, 11);
}
.Navbar ul {
  font-size: 2.5vh;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.Navbar ul a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin-left: 2vw;
  padding: 0.2vw 3vw;
  border-left: 0.1vw solid rgba(255, 255, 255, 0.24);
}
.Navbar ul a:hover {
  background-color: rgba(0, 0, 0, 0.171);
}

/*# Inicio */
.Intro {
  cursor: default;
  margin-top: 2vh;
  height: fit-content;
  width: 100%;
  font-size: 5vw;
}
.Intro .tagleft {
  color: rgb(207, 201, 201);
  transform: translate(33vw, 12vw);
}
.Intro .tagright {
  color: rgb(207, 201, 201);
  transform: translate(-32vw, -9vw);
}

.Aboutme {
  cursor: default;
  margin-top: 10vh;
  font-size: 2vw;
  height: 10vw;
  width: 100%;
}

.Knowledge {
  cursor: default;
  height: 100vw;
}

/*# Elemento orbital */
.Aux {
  width: 1vw;
  height: 1vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 244, 172);
  font-size: 2vw;
  border-radius: 50%;
}
.giro .Orbiticon {
  width: 4vw;
}
.giro .Orbitline {
  position: absolute;
}

/*# Elemento project */
.Projects {
  background-color: rgba(0, 0, 0, 0.068);
  width: 100%;
  height: 40vw;
}
.Projects .leftb2 {
  left: 0;
}
.Projects .rightb2 {
  right: 0;
}
.Projects .rightb2, .Projects .leftb2 {
  position: absolute;
  font-size: 2vw;
  height: 6vw;
  width: 3vw;
  z-index: 10;
  border: none;
  transform: translateY(18vw);
}

.Projecto {
  transform: translateX(100vw);
  transition: transform ease-in-out 0.2s;
}

.Project {
  margin-left: 10vw;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Project .Projectshow {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Project .Projectshow .rightb {
  transform: translateX(36.5vw);
}
.Project .Projectshow .leftb {
  transform: translateX(0.5vw);
}
.Project .Projectshow .rightb, .Project .Projectshow .leftb {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.507);
  font-size: 2vw;
  height: 6vw;
  width: 3vw;
  z-index: 10;
  border: none;
}
.Project .Projectshow .rightb:hover, .Project .Projectshow .leftb:hover {
  background-color: rgba(49, 49, 49, 0.685);
}
.Project .Projectshow .Projectdesc {
  width: 40vw;
  height: 20vw;
  overflow-y: hidden;
  font-size: 2.5vw;
}
.Project .ImagesSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 30vw;
  width: 40vw;
}
.Project .ImagesSlide .Slide {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.ShowImage {
  position: absolute;
  height: 30vw;
  width: 40vw;
  opacity: 0;
  background-color: rgb(115, 255, 0);
  transition: opacity ease-in-out 0.2s;
}
.ShowImage .ShownImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# Lowbar */
.Lowbar {
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: space-around;
}
.Lowbar img {
  width: 3vh;
  height: 3vh;
}

/*# Transicion imagen */
.active-anim {
  opacity: 1;
}

.active-project {
  transform: translateX(0vw);
}

@keyframes round_round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes round_roundfix {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 600px) {
  .Projects {
    height: 75vw;
  }
  .Projects .leftb2 {
    left: 0;
  }
  .Projects .rightb2 {
    right: 0;
  }
  .Projects .rightb2, .Projects .leftb2 {
    font-size: 5vw;
    height: 15vw;
    width: 8vw;
    transform: translateY(26vw);
  }

  .Project {
    margin-left: 20vw;
  }
  .Project .Projectshow {
    flex-direction: column;
  }
  .Project .Projectshow .rightb {
    transform: translate(26vw, 20vw);
  }
  .Project .Projectshow .leftb {
    transform: translate(-26vw, 20vw);
  }
  .Project .Projectshow .rightb, .Project .Projectshow .leftb {
    background-color: rgba(245, 245, 245, 0.507);
    font-size: 4vw;
    height: 10vw;
    width: 6vw;
  }
  .Project .Projectshow .Projectdesc {
    width: 60vw;
    height: 25vw;
  }
  .Project .ImagesSlide {
    height: 50vw;
    width: 60vw;
  }

  .ShowImage {
    height: 50vw;
    width: 60vw;
  }

  .Aboutme {
    margin-top: 5vh;
    font-size: 2.5vw;
  }

  .Navbar {
    height: 4vh;
  }
  .Navbar ul {
    font-size: 1.5vh;
  }
  .Navbar ul a {
    margin-left: 1vh;
    padding: 0.1vh 4vw;
    border-left: 0.1vh solid rgba(255, 255, 255, 0.24);
  }
}

/*# sourceMappingURL=Styles.css.map */
