body{
    overflow-x: hidden;
    background-color: rgb(27, 27, 27);
}


/*# NavBar */
.Navbar{
 width: 100%;
 hr{
     color: aqua;
 }
 ul{
    height: 4vh;
    a{
        text-decoration: none;
        color: white;
    }
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
 }
}


/*# Inicio */
.Intro{
    cursor:default;
    margin-top: 50px;
    height: fit-content;
    width: 100%;
    font-size: 4vw;
    .tagleft{
      color: white;
      transform: translate(21vw, 7vw);
      margin-bottom: 6px;
    }
    .tagright{
      color: white;
      transform: translate(-20vw, -5vw);
    }
}
.Aboutme{
    margin-top: 15vw;
    font-size: 2vw;
    height: 10vw;
    width: 100%;
}
.Knowledge{
    height: 90vw;
    background-color: rgb(105, 179, 179);
}


/*# Elemento orbital */
.giro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: aqua;
    .Orbiticon{
        width: 7vw;
    }
    .Orbitobj{
     position: absolute;
    }
}
@keyframes round_round{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes round_roundfix{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}